<ion-header>
	<ion-navbar color="secondary">
		<ion-buttons left>
			<button ion-button icon-only (click)="dismiss()" class="my-style-for-modal">
				<ion-icon name="arrow-back"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title *ngIf="page == 'create'">Create Data Syarat Layanan</ion-title>
		<ion-title *ngIf="page == 'edit'">Edit Data Syarat Layanan</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<form [formGroup]="createForm">
		<ion-list>

			<ion-item>
				<ion-label stacked>Layanan</ion-label>
				<ion-input type="hidden" [(ngModel)]="data.layanan_id" formControlName="layanan_id"></ion-input>
				<ion-input type="text" [(ngModel)]="layanan_id_label" [ngModelOptions]="{standalone:true}" readonly (click)="select2Modal('layanan')"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked>Syarat Layanan</ion-label>
				<ion-input type="text" [(ngModel)]="data.layanan_syarat_name" formControlName="layanan_syarat_name"></ion-input>
			</ion-item>

		</ion-list>
	</form>

</ion-content>

<ion-footer>
	<ion-toolbar color="{{ (!createForm.valid) ? 'danger' : 'secondary' }}">
		<button ion-button [disabled]="!createForm.valid" clear color="light" full (click)="storeData()">Save</button>
	</ion-toolbar>
</ion-footer>